/* app css stylesheet */

.container {
    overflow: hidden;
}

.header {
    background: #fff url(../img/next.png) bottom right no-repeat;
    height: 100px;
}

.week_calendar {
    height: 564px;
    border: 2px #6b6b69 solid;
}

.week_item {
    display: block;
    float: left;
    height: 80px;
    width: 12.5%;
    border-right: 2px #6b6b69 solid;
    border-bottom: 2px #6b6b69 solid;
    text-align: center;
    font-family: "Open Sans";
    font-size: 45px;
    color: #c4d99d;
}

.week_item .name, .week_item .item {
    display: block;
    color: #fff;
    font-size: 24px;
}

.week_item_last {
    border-right: 0px;
}

.week_item_bottom {
    border-bottom: 0px;
}

.passed {
    background-color: #d1d1d1;
    color: #fff;
}

.current {
    background-color: #accc68;
    color: #fff;
}

.comming {
    background-color: #56b0bb;
    color: #fff;
}